/*variáveis*/
:root {
    --cor-texto: #464646;
    --bloco: 0 0 10px rgba(100, 100, 100, .2);
    --borda-bloco: 10px;
  }
  
  /*reset padrão*/
  * {
    margin: 0;
    border: 0;
  }
  
  /*estilos globais*/
  body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
  }
  
  h1, h2, h3, p, a {
    text-decoration: none;
    list-style: none;
    color: var(--cor-texto);
  }
  h3{
    font-weight: 700;
    font-size: 16px;
  }

 
  
  /*estilos para os blocos*/
  .container__topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--bloco);
    border-radius: var(--borda-bloco);
    padding: 1rem;
    margin: 1rem;
  }
  
  .topo {
    display: flex;
    align-items: center;
  }
  
  .topo img {
    width: 100px;
    border-radius: var(--borda-bloco);
  }
  
  .topo h3 {
    padding-left: 10px;
  }

  .bandeira__topo{
    display: flex;
    justify-content: space-around;

  }
  
  .email__topo a {
    font-size: 14px;
    margin: 10px;
    font-weight: 700;
  }

  .navegacao a{
    padding-right: 1rem;
    transition: transform 0.3s ease-out;
  }

  .navegacao a:hover{
    transform: translateY(-5px);
  }
  




  /*bloco da apresentação*/
  .container__apresentacao{
    display: flex;
    justify-content: space-between;
    box-shadow: var(--bloco);
    border-radius: var(--borda-bloco);
    padding: 1rem;
    margin: 1rem;
  }
  .textos__apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
  }
  .redes__sociais{
    display: flex;
    justify-content: space-evenly;
  }
  .redes__sociais img{
    width: 40px;
  }

  .img__apresentacao img{
    width: 150px;
    border-radius: 500px;
  }


  /*bloco sobre mim*/
  .sobre__mim{
    background-color: #1750B9;
    color: white;
    padding: 1rem 8rem;
  }

  .sobre__mim blockquote{
    padding-top: .5rem;
  }




    /*cards*/

  .container__cards h1{
    text-align: center;
    padding-top: 2rem;
  }
  .grupo__card{
    display: flex;
    justify-content: space-between;
    box-shadow: var(--bloco);
    border-radius: var(--borda-bloco);
    padding: 1rem;
    margin: 1rem;
  }
 


  .card__item{
    box-shadow: var(--bloco);
    width: 90px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    padding: 1rem;
    border-radius: 5px; 
  }

  .card__item img {
    width: 25px;  
  }

  .card__img img{
    width: 50px;
    
  }



  .formacao__academica{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-color: #EAF2FD;
    
  }

  .formacao__academica h1{
    text-align: center;
    padding: 2rem;
  }

  .card__formacao{
    box-shadow: var(--bloco);
    width: 150px;
    display: flex;
    justify-content: center; 
    background-color: white; 
    padding: 2rem;
    border-radius: 5px; 
  }

  .card__formacao img{
    width: 80px;
    border-radius: 5px;
    
  }

  .card__geral-formacao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 2rem;
  }
  
  .bloco__experiencia {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
  .card__geral-formacao h3{
    padding-top: .5rem;
      
  }

  .descricao__experiencia {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    justify-content: center;
  }



  .bloco__experiencia-profissional {
    background-color: #F5F5F5;
  }

  .bloco__revert{
    flex-direction: row-reverse;
    
  }

  .bloco__text-reverter{
    align-items: end;
    padding-right: 2rem;
  }

  .bloco__text-reverter h2 {
    text-align: end;
  }


  .botoes {
    margin: 20px 0;
  }


  .button__repositorio button {
    color: #2A7AE4;
    background-color: #F5F5F5;
    padding: .5rem;
    border: 1px solid #2A7AE4;
  }

  .button__demo button {
    color: #ffffff;
    background-color: #2A7AE4;
    padding: .5rem;
    border: 1px solid #2A7AE4;
  }

  







  .bloco__experiencia {
    margin: 0 auto;
    padding-bottom: 2rem;
    flex-wrap: wrap;
  }
    
    .bloco__experiencia-profissional h1 {
      text-align: center;
      padding: 1.5rem;
    }


    .container__projetos {
      display: flex;
      flex-direction: column;
    }

    .bloco__experiencia img {
      width: 450px;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(100, 100, 100, .2);
      
    }




  .container__formulario {
    display: flex;
    padding: 2rem;
    background-color: #1750B9;
  }

  .form__img img {
    width: 300px;
  }

  .contato {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 1rem;
  }
  .dados__contato p{
    padding-top: 1rem;
    color: white;
  }
  .dados__contato h3{
    color: white;
  }
  

  /* campos de preenchimento do formulário*/
.form__campos {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}



input[type="text"],
input[type="email"],
textarea {
  width: 50vw;
  font-size: .8em;
  padding: 15px;
  border: none;
  border-bottom: 3px solid #ccc;
  transition: all 0.3s ease-in-out;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: #aaa;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

button[type="submit"] {
  background-color: #ffffff;
  width: 200px;
  color: #1e90ff;
  border: none;
  padding: 1px 0px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0080ff;
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
textarea:focus::placeholder {
  font-size: 0.6em; /* Diminui o tamanho da fonte do placeholder ao focar no campo */
  transition: all 0.5s ease-in-out; /* Adiciona uma transição suave de 0.5 segundos */
  transform: translate(-10px, -40px); /* Move o placeholder para a posição desejada */
}

  
  /*rodape*/

.container__rodape{
  text-align: center;
  padding: 2rem;
}






  
  /*tela de computador */
  @media screen and (max-width: 965px) {
    .navegacao {
      display: none;
    }
    .container__topo {
      justify-content: space-evenly;
    }
    .container__apresentacao{
        flex-direction: column-reverse;
    }
    .redes__sociais{
        padding-top: .5rem;
    }
    .sobre__mim{
        padding: 1rem 3rem;
    }
    .grupo__card{
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }
    .bloco__experiencia img{
      width: 250px;
    }
    .form__img img {
      display: none;
    }
  }
  
  /*tela de tablet*/
  @media screen and (max-width: 550px) {
    .container__topo {
      padding: .5rem;
      flex-direction: column;
      align-items: center;
    }
    .topo{
        flex-direction: column;
    }
    .topo img {
      width: 60px;
    }
    .topo h3 {
      padding: 0;
    }
    .email__topo a {
      font-size: 12px;
    }
    .redes__sociais{
        padding-top: .5rem;
    }
    .sobre__mim{
        padding: 1rem 2rem;
    }
    .bloco__experiencia {
      flex-direction: column;
    }
    .descricao__experiencia {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 1rem;
      text-align: center;
    }
    
    
  }

  /*tela intermediária*/
  @media screen and (max-width: 475px) {
    .redes__sociais{
        flex-direction: column;
        align-items: center;
        padding-top: .5rem;
    }
    .redes__sociais div{
        padding: .5rem;
        border: 1px solid rgb(192, 192, 255);
        width: 100px;
        text-align: center;
        border-radius: 5px;
        margin: 3px;
    }
    .redes__sociais div:hover{
        background-color: #7da1e4;
    }
  }
    .img__apresentacao{
        text-align: center;
    }
    .textos__apresentacao h3{
        padding-top: 1rem;
        font-weight: 500;
    }
  
  /*tela de celular*/
  @media screen and (max-width: 370px) {
    .container__topo {
      flex-direction: column;
    }
    .sobre__mim{
        padding: 1rem;
    }
    
}

