/*font-family: 'Raleway', sans-serif;*/
*{ 
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 10px auto;
    border: 0;
    background-color: #F5F5F5;
}

h3{
    font-size: 18px;
    font-weight: 700;
    color: #464646;
    /*color: #1750B9;*/
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    margin: auto 2rem;
    box-shadow: 0 0 10px rgba(100, 100, 100, .2);
    border-radius: 10px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h3{
    padding-left: 2rem;
}

.logo img{
    width: 65px;
    border-radius: 5px;
}

.menu{
    display: flex;
}
.menu a{
    font-size: 16px;
}

.menu a{
    display: flex;
    color:#464646;
    text-decoration: none;
    padding-right: 1rem;
}

.email{
    display: flex;
    justify-content: end;
    align-items: center;
}

.email a{
    color: #464646;
    text-decoration: none;
    font-weight: 700;
}

/*table*/
@media screen and (max-width: 850px) {
    .menu{
        display: none;
    }
    .topo{
        justify-content: space-around;
    }
}


/*celular*/
@media screen and (max-width: 465px) {
    .email a{
        font-size: 12px;
        font-weight: 400;
    }
    .logo{
        flex-direction: column;
    }
    .logo h3{
        padding-left: 0;
        margin: 5px;
    }
}



